{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock title %}

{% block container %}

    <section class="u-clearfix u-palette-5-light-1 u-section-1" id="carousel_04cf">
      <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div>
      <img src="{% static 'images/ertr.jpg' %}" alt="" class="u-align-left u-image u-image-1" data-image-width="1100" data-image-height="734">
      <div class="u-align-left u-container-style u-group u-white u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h2 class="u-text u-text-palette-2-base u-text-1">Контрактные запчасти  VOLVO</h2>
          <p class="u-text u-text-2">Качественные детали из Японии и Саудовской Аравии для вашей Volvo. Позволят Вам ещё не один год наслаждаться вашим автомобилем без официальных дилеров</p>
          <p class="u-text u-text-3"> <a href="https://www.freepik.com/photos/car" class="u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-body-color u-btn-1"></a>
          </p>
          <a href="https://volvo.com" class="u-active-palette-5-light-1 u-btn u-button-style u-hover-palette-5-light-1 u-palette-2-base u-btn-2">Volvo.com</a>
        </div>
      </div>
      <div class="u-shape u-shape-svg u-text-palette-2-base u-shape-2">
        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d9c8"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-d9c8" style="enable-background:new 0 0 160 160;"><path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
	s80-35.8,80-80S124.2,0,80,0L80,0z"></path></svg>
      </div>
    </section>
{% endblock container %}    
 